/*Main CSS*/
/*Header Section will have a light blue background with a yellow Tic Tac DOH!!!*/
/*possible animation (flying clouds or birds) in the background of the title*/
.float{
	float:left;
}
.clear{
	clear: both;
}

#header {
    background-image: url("../img/header.png");
    height: 11em;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -.5em;
    margin-right: 0;
}
/* Rules CSS*/

#benderPic {
    background-image: url("../img/bender.png");
    
    background-repeat: no-repeat;
    padding-top: 1em;
    padding-bottom: 6em;
}

#homerPic {
    background-image: url("../img/homer.png");
   
    background-repeat: no-repeat;
    padding-top: 1em;
    padding-bottom: 6em;
}

.center {
    text-align: center;
}

.rules {
    list-style-type: square;
}

.rulesTitle {
    font-size: 2em;
    font-family: sans-serif;
}
/*To be determined on background of gameboard body (possibly just white)*/

.gameboard {
    width: 8em;
    height: 8em;
    
    cursor: pointer;
    border: .25em solid #44a4db;
    
}
.moveRight{
	position: relative;
	left: 8.5em;

}


.padding {
    padding-top:2em;
}
.bottom{
	padding-bottom: 2em;
}



.yellow {
    background-color: #f4ee54;
}

.blue {
    background-color: #44a4db;
}
.textBlue {
    color: #44a4db;
}

.topLeft {
border-top: none;
border-left: none;
    
    
}

.topRight {
    border-top: none;
border-right: none;
    
}

.bottomLeft {
    border-bottom: none;
border-left: none;
    
}

.bottomRight {
    border-bottom: none;
border-right: none;
    
}

.midRight {
    border-right:none;

    
}

.midLeft {
    border-left: none;
    
}

.midTop {
    border-top:none;
    
}

.midBottom {
   border-bottom: none;
    
}
.pics{
	  display: block;
  margin: auto;
  position: relative;
  top: 1em;
  -webkit-animation-name :spin;
  -webkit-animation-duration: .5s;
  animation-name: spin;
  animation-duration: .5s;

}

@-webkit-keyframes spin{
	0% {transform: rotateY(720deg)}
	25%{transform: rotateY(1440deg)}
	75%{transform: rotateY(2160deg)}
	100%{transform: rotateY(2880deg)}
}
.twirl{
-webkit-animation-name :twirl;
  -webkit-animation-duration: 2.5s;
  animation-name: twirl;
  animation-duration: 2.5s;
  position: relative;
  

}

.homDance{
	position: relative;
  top: 2em;
}

.bendDance{
	position: relative;
  top: 3.5em;
}

@-webkit-keyframes twirl{
	0% {transform: rotateZ(0deg)}
	10%{transform: rotateZ(15deg)}
	20%{transform: rotateZ(-15deg)}
	
	30%{transform: rotateZ(15deg)}
	40%{transform: rotateZ(-15deg)}
	
	50% {transform: rotateZ(15deg)}
	60%{transform: rotateZ(-15deg)}
	
	70%{transform: rotateZ(15deg)}
	80%{transform: rotateZ(-15deg)}
	90%{transform: rotateZ(15deg)}
	
	100%{transform: rotateZ(0deg)}
}

#startOver{
	position: relative;
	left: 8em;
	border: .3em solid #44a4db;
	color: #f4ee54;
	border-radius: .5em;
	box-shadow: .35em .35em .35em black;
	cursor: pointer;
	text-shadow: .15em .15em .15em black;
	font-family: impact;
	font-size: 2em;
}

#startOver:active{
	box-shadow: .15em .15em .15em black;
	margin: .1em;
}

.winBox{
	height: 1.2em;
	width: 4em;
	background-color: #44a4db;
	text-align: center;
	border: .25em solid #f4ee54;
	position: relative;
	left: 2.8em;
	top: 2em;
	color: #f4ee54;
	font-family: sans-serif;
	font-size: 1.5em;
	box-shadow: .25em .25em .25em black;
}
.names{
	font-family: impact;
	font-size: 2em;
	color: #f4ee54;
	text-align: center;
	text-shadow: .15em .15em .15em black;
	position: relative;
	top: 1em;
}
.cats{
	font-family: im;
	font-size: 3em;
}
/*Sidebar CSS where stats will be displayed*/
/*Footer CSS*/